Binaries
DerivedDataCache
Intermediate
Saved
Content/Bunker
Content/ScienceLab
Content/StarterContent
Content/Packed
Content/__ExternalActors__/*
Content/__ExternalObjects__/*
Build
Builds
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace